body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 70% 15%;
    background-color: #ecece0;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #776e65;
    font-weight: bold;
}

.title{
    display: flex;
    width: 500px;
    height: 100%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.restart-button{
    display: block;
    background: #8f7a66d8;
    border-radius: 3px;
    font-size: 18px;
    color: #f9f6f2;
    height: 30px;
    width: 120px;
    margin-top: 5px;
    padding-top:0.5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}

.grid-container{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: #bcac9f;
    margin-top: 10px;
    border-radius: 1%;
}

.grid-play{
    display: grid;
    width: 95%; 
    height: 95%;
    gap: 2.5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 2.5%;
    }

.grid-play > div {
    display: grid;
    align-content: center;
    background-color: #cdc0b4;
    font-size: 30px;
    border-radius: 3%;
    box-shadow: 5px;
}

.inner {
    margin-inline: auto;
    font-family: nunito;
    font-size: 50px;
    font-weight: bold;
}

#win {
    position: absolute; 
    display: none;
    font-size: 50px;
    width: 500px;
    top: 47%;
    text-align: center;
    background-color: #06b01a; 
    color:#ecece0;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 3%;
}

#loss {
    position: absolute; 
    display: none;
    font-size: 50px;
    width: 500px;
    top: 47%;
    text-align: center;
    background-color: #e71558e9; 
    color:#ecece0;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 3%;
}